
.about {
    overflow: hidden;
    padding: 161px 0 0 0;
}
.about h1, .about h2 {
    color: var(--heading-text-color);
    font-weight: 500;
}
.about p {
    color: var(--grey-text-color);
    width: 100%;
    max-width: 543px;
    text-align: left;
}
.about p:nth-of-type(1) {
    margin-bottom: 87px;
}
.about h1 {
    width: 100%;
    text-align: center;
    position: relative;
    top: 0px;
}
.about h2 {
    text-align: left;
}
.aboutInfo {
    display: flex;
    justify-content: center;
}
.aboutInfo > div:first-child {
    width: 100%;
    max-width: 670px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.aboutInfo > div:last-child {
    width: 100%;
    max-width: 444px;
}
.aboutInfo > div:last-child img {
    width: 170%;
}
@media (max-width: 850px) {

    .about h1 {
        top: 0;
    }
    .about h2, .about p, .about h2 {
        text-align: center;
    }
    .aboutInfo {
        flex-direction: column;
    }
    .aboutInfo > div:first-child {
        width: 100%;
        order: 2;
        max-width: none;
        align-items: center;
    }
    .aboutInfo > div:last-child {
        width: 100%;
        order: 1;
        display: flex;
        justify-content: center;
        max-width: none;
    }
    .aboutInfo > div:last-child img {
        width: 100%;
        margin: 54px 0;
    }
}












