.product {
    overflow: hidden;
    margin-bottom: 120px;
}
.product h2 {
    color: var(--heading-text-color);
}
.product p {
    color: var(--grey-text-color);
    width: 100%;
    max-width: 543px;
}
.product p:nth-of-type(1) {
    margin-bottom: 87px;
}
.productInfo {
    display: flex;
    width: 100%;
}
.productInfo div:first-child {
    width: 50%;
}
.productInfo div:last-child {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.productInfo div:first-child img {
    position: relative;
    left: -460px;
}
@media (max-width: 850px) {
    .productInfo {
        flex-direction: column;
        align-items: center;
    }
    .productInfo > div:first-child, .productInfo > div:last-child {
        width: 100%;
    }
    .productInfo > div:last-child {
        align-items: center;
    }
    .productInfo div:first-child img {
        left: 0;
        width: 100%;
        margin: 0 0 54px 0;
    }
    .product h2, .product p {
        text-align: center;
    }
}
