:root {
  --very-light-red: #ff7a85;
  --light-red: #ff525e;
  --main-color: white;
  --main-text-color: white;
  --grey-text-color: hsl(240, 1%, 60%);
  --heading-text-color: hsl(208, 49%, 24%);
  --body-color: #FAFAFA;
}
/* use variale: var(--name)*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}
body {
  background-color: var(--body-color);
}
#root {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}
.pageContainer {
  padding: 0 20px;
  width: 100%;
  max-width: 1114px;
}
.bigHeading {
  font-size: 40px;
}
.smallHeading {
  font-size: 28px;
}
.paragraph {
  font-size: 16px;
  letter-spacing: 1.2px;
  line-height: 24px;
}
.centerSections {
  width: 100%;
  display: flex;
  justify-content: center;
}
h2:not(header main h2) {
  margin-bottom: 37px;
}